* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-default: #F5F4F0;
    --boder-primary: #D9D9D9;
    
    --text-primary: #1B1B1B;
    --text-secondery: #333333;
    --text-tertiary: #696969;
    --text-color-headline: #E1624F;
    
    --accent-blue: #0C51A7;
    --acent-orange: #E95E10;
    --acent-pink: #E5245E;
    --acent-purple: #591B98;
    
    --font-family: "open sans", serif;
    --text-h1: bold 36px var(--font-family);
    --text-h2: bold 32px var(--font-family);
    --text-h3: bold 28px var(--font-family);
    --text-headline: bold 16px var(--font-family);
    --text-paragraph: 16px var(--font-family);
    --text-subtitle: italic 16px var(--font-family);

}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-default);
}

.headline {
    font-weight: 700;
}

h1 {
    font-size: 2.25rem;
    margin-top: 0.5rem;
    margin-bottom: 2.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

.container {
    max-width: calc(70rem + 5%);
    width: 100%;
    margin: 5.5rem auto 3rem;
    padding: 0 5%;
}

.headline {
    color: var(--text-color-headline);
    font-size: 1rem;
    text-transform: uppercase;
}

.legend {
    font-style: italic;
    text-align: center;
    padding: 0 2%;
    margin-top: 1.5rem;
}

img {
    max-width: 100%;
    border-radius: 1.75rem;
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--boder-primary);
    margin-top: 2.75rem;
}

.title-list {
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    gap: 0.25rem;
}

.heading {
    margin-top: 1.25rem;
    padding: 0 0.25%;
    margin-bottom: 0.25rem;
}

.bold {
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.list-blue {
    color: var(--accent-blue);
}

ul li {
    margin-left: 20px;
    font-weight: 700;
}

.content-travel:not(:last-child) {
    margin-bottom: 3rem;
}

.paragraph {
    margin-bottom: 1.5rem;
}

.color-purple {
    color: var(--acent-purple);
}

.color-pink {
    color: var(--acent-pink);
}

.color-orange {
    color: var(--acent-orange);
}

footer {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-align: center;

}

footer > p {
    margin-top: 3.5rem;
    display: inline-flex;
}

footer p span {
    display: inline-flex;
    padding: 0 4px;
}