* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "open sans", serif;
}

#page {
    /* border: solid; */
    margin: 80px auto;
    margin-top: 88px;
    width: 1120px;
    height: 3054px;
}


.subtitle {
    font-size: 16px;
    line-height: 22px;
    /* border: solid; */
    font-style: italic;
    text-align: center;
    color: #333333;
    margin-top: 24px;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 36px 0;
    background-color: #d9d9d9;
}

h1 {
    font-size: 36px;
    width: 1120px;
}

h2 {
    font-size: 32px;
    padding-bottom: 8px;
    font-weight: bold;
}

p {
    font-size: 16px;
    border: auto;

}
img {
    border-radius: 28px;
    padding-top: 4px;
    padding-bottom: 24px;
}

.headline {
    /* border: solid; */
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
    color: #e1624f;
    text-transform: uppercase;
}

ul li::marker {
    color: #333333;
}


footer {

    text-align: center;
    padding-bottom: 65px;
}

footer img {
    vertical-align: middle;
}